/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 900px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  /* color:rgba(0, 0, 0, 0.07); */
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 400px;
  /* background-color:rgba(0,0,0,0); */
}

.button_inside_table {
  padding: 0px 16px 0px 0px;
  display: flex;
  align-items: left;
  justify-content: flex-start;
}
