  .field-form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
  }
  .field-quarter-width { 
    display: inline-block!important;
    width: 24%;
  }
  .field-half-width { 
    display: inline-block!important;
    width: 49%;
  }
  .field-full-width {
    display: inline-block!important;
    width: 100%;
  }

  .model-quarter-width { 
    width: 24%;
  }
  .model-half-width { 
    width: 49%;
  }
  .model-full-width {
    width: 100%;
  }
  mat-grid-tile {
    /* background: lightgray; */
    border: 1px solid black;
    /* min-width: 200px; */
  }
  mat-grid-list {
    min-width: 800px;
    max-width: 1000px;;
  }

 .mat-figure {
    justify-content: flex-start;
    left:20px;
  }

.preview-content{
    padding: 10px;
}
.preview-array{
    width: 500px;
}
.inline-table {
    display: inline-table;
}

input {
    border: 0px;
    width: 90%;
    min-width: 50px;
    /* max-width: 0; */
}

