.content{
    display: flex;
}
.toolbar {
    background :#3f51b5;
    height: 60px;
}
.toolbar-content{
    padding-left: 24px;
    display: flex;
}
.toolbar_title {
    color:white;
    font-size: 16px;
    padding: 28px 8px;
}
.nav {
    padding: 5px 30px;
}

/* button{
    color:white;
} */