<mat-toolbar class="toolbar">
        <div class="toolbar-content">
            <button type="button" class="toolbar-title" mat-button (click)="sidenav.toggle()">不确定度计算</button>
        </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav-side">
        <div>
            <nav class="sidenav-side-nav">
                <button class="sidenav-button" mat-button routerLink="./calIndex">
                    <div class="sidenav-button-div">
                        <mat-icon >event</mat-icon>
                        <span>计算-1</span>
                    </div>
                </button>
                <button class="sidenav-button" mat-button routerLink="./calIndex">
                    <div class="sidenav-button-div">
                        <mat-icon>event</mat-icon>
                        <span>计算-2</span>
                    </div>
                </button>
                <button class="sidenav-button" mat-button routerLink="./calIndex">
                    <div class="sidenav-button-div">
                        <mat-icon >event</mat-icon>
                        <span>计算-3</span>
                    </div>
                </button>
                <button class="sidenav-button" mat-button routerLink="./calIndex">
                    <div class="sidenav-button-div">
                        <mat-icon>event</mat-icon>
                        <span>计算-4</span>
                    </div>
                </button>
            </nav>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
</mat-drawer-container> -->