<div class="preview-content">
    <!-- <h3> -->
        <mat-form-field>
                <input matInput placeholder="模版名称" [(ngModel)]="template.whole_name">
        </mat-form-field>
        <!-- [{{template.whole_name}}]预览 -->
    <!-- </h3> -->
    
        <div *ngFor="let model_key of getKeys(template.models);let idx=index">
                <!-- {{model.value | json}} -->
            <h3>{{idx+1}}.【{{template.models[model_key].model_standard_name}}】</h3>
            <mat-grid-list cols="10" rowHeight="35px">
                <div *ngFor="let cell_key of getKeys(template.models[model_key].table.cells)">
                    <mat-grid-tile
                        [colspan]="template.models[model_key].table.cells[cell_key].colspan"
                        [rowspan]="template.models[model_key].table.cells[cell_key].rowspan">
                        <div class="grid-tile-div">
                            <div class="inline-table-bold">
                                <span class="grid-span">{{template.models[model_key].table.cells[cell_key].name}} : </span>
                            </div>
                            <!-- <div class="grid-input-div">
                                <input placeholder="数据值" [(ngModel)]="template.models[model_key].table.cells[cell_key].value">
                            </div> -->
                            <div class="grid-input-div" [ngSwitch]="template.models[model_key].table.cells[cell_key].source_type">
                                <input *ngSwitchCase="1" placeholder="数据值-1" [(ngModel)]="template.models[model_key].table.cells[cell_key].value">
                                <div *ngSwitchCase="2">
                                    <button type="button" (click)="openSourceSelectDialog()" mat-button>引用数据</button>
                                </div>
                                <div *ngSwitchCase="3">
                                    <button type="button" (click)="openDateSelectDialog()" mat-button>选择日期</button>
                                    <!-- <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="输入/选择日期" [(ngModel)]="template.models[model_key].table.cells[cell_key].value">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field> -->
                                </div>
                                <input *ngSwitchCase="4" placeholder="数据值-4" [(ngModel)]="template.models[model_key].table.cells[cell_key].value">
                                <input *ngSwitchCase="5" placeholder="数据值-5" [(ngModel)]="template.models[model_key].table.cells[cell_key].value">
                                <input *ngSwitchCase="6" placeholder="数据值-6" [(ngModel)]="template.models[model_key].table.cells[cell_key].value">
                                <input *ngSwitchDefault placeholder="数据值-0" [(ngModel)]="template.models[model_key].table.cells[cell_key].value">
                            </div>
                        </div>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
            <!-- <div class="preview-array" > -->
                        <!-- <div *ngFor="let array_key of getKeys(template.models[model_key].arrays)"> -->
                            <!-- <mat-grid-list cols="10" rowHeight="25px" > -->
                    <div *ngFor="let array_key of getKeys(template.models[model_key].arrays)" [ngStyle]="{'width.px': 150*template.models[model_key].arrays[array_key].col_count}">
                        <mat-grid-list [cols]="2*template.models[model_key].arrays[array_key].col_count" rowHeight="35px" [ngStyle]="{'min-width.px': 300}">
                        <div *ngFor="let array_cell of template.models[model_key].arrays[array_key].cell_list">
                            <mat-grid-tile *ngIf="array_cell.row == 1; else space"
                                [colspan]="array_cell.colspan"
                                [rowspan]="array_cell.rowspan">
                                    -|{{array_cell.value}}|-
                            </mat-grid-tile>
                            <ng-template #space>
                                <mat-grid-tile  [ngSwitch]="array_cell.source_type" [colspan]="array_cell.colspan" [rowspan]="array_cell.rowspan">
                                    <div *ngSwitchCase="1">
                                        <input placeholder="录入数据" value="{{array_cell.value}}">
                                    </div>
                                    <div *ngSwitchCase="2">
                                        <button>引用数据源</button>
                                    </div>
                                    <div *ngSwitchCase="3">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker" placeholder="输入/选择日期">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div *ngSwitchCase="4">
                                        <button>选择参数表</button>
                                    </div>
                                    <div *ngSwitchCase="5">
                                        <button>创建公式</button>
                                    </div>
                                    <div *ngSwitchDefault>Null</div>
                                </mat-grid-tile>
                            </ng-template>
                        </div>
                        </mat-grid-list>
                    </div>
                
            <!-- </div> -->
        </div>
</div>