<div class="inline-content">
    <div *ngIf="!selectedTemplate">
        <div *ngIf="isLoading" class="loading">
            <mat-spinner [diameter]="30" color="primary" class="loading"></mat-spinner>
        </div>
    
        <div [hidden]="isLoading">
            <h3>模板列表</h3>
            <button mat-mini-fab color="primary" (click)="getTemplates()" class="float-button"><mat-icon>refresh</mat-icon></button>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="whole_name">
                    <mat-header-cell *matHeaderCellDef> 模板名称 </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button color="primary" (click)="select(element);" class="button_inside_table">{{element.name}} </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <div [hidden]="isLoading">
            <mat-paginator #paginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </div>

    <div *ngIf="selectedTemplate">
        <mat-tab-group>
            <mat-tab label="预览">
                <h3>预览的模板: {{selectedTemplate.whole_name}}</h3>
                <man-template-preview [template]="selectedTemplate"></man-template-preview>
            </mat-tab>
            <mat-tab label="编辑">
                <h3>编辑的模板: {{selectedTemplate.whole_name}}</h3>
                <man-template-edit [template]="selectedTemplate"></man-template-edit>
            </mat-tab>
            <mat-tab label="组成">
                <h3>编辑的模板: {{selectedTemplate.whole_name}}</h3>
                <man-template-composition [template]="selectedTemplate"></man-template-composition>
            </mat-tab>
        </mat-tab-group>
        <div>
            <button mat-raised-button color="primary" (click)="selectedTemplate = !selectedTemplate;">返回</button>
        </div>
    </div>
</div>