<mat-toolbar class="topbar">
  <div class="topbar-content">
    <span class="topbar-title">
      <!-- <img alt="angular" class="logo" src="../../../assets/img/homepage/angular-white-transparent.svg"> -->
      <img alt="angular" class="topbar-logo" src="../../../assets/img/homepage/lab.png">
      <span>{{title}}</span>
    </span>
    <nav>
        <button mat-button class="topbar_font" routerLink="/preview">预览</button>
        <button mat-button class="topbar_font" routerLink="/registration">登记</button>
        <button mat-button class="topbar_font" routerLink="/analysis">检测</button>
        <button mat-button class="topbar_font" routerLink="/calculate">计算</button>
        <button mat-button class="topbar_font" routerLink="/sysManagement">管理</button>
    </nav>
  </div>
</mat-toolbar>
<!-- <link rel = "stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata&effect=anaglyph"
>
<div class ="font-effect-anaglyph">{{title}}<div></div> -->

<!-- <nav>
  <a routerLink="/preview" routerLinkActive="active"><button mat-button>预览</button></a>
  <a routerLink="/preview" routerLinkActive="active">预览</a>
  <a routerLink="/registration" routerLinkActive="active">登记</a>
  <a routerLink="/analysis" routerLinkActive="active">检测</a>
  <a routerLink="/calculate" routerLinkActive="active">计算</a>
  <a routerLink="/sysManagement" routerLinkActive="active">管理</a>
</nav> -->
<router-outlet></router-outlet>