<h1>{{title}}</h1>
<!-- <link rel = "stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata&effect=anaglyph"
>
<div class ="font-effect-anaglyph">{{title}}<div></div> -->
<nav>
  <a routerLink="/preview" routerLinkActive="active">预览</a>
  <a routerLink="/registration" routerLinkActive="active">登记</a>
  <a routerLink="/analysis" routerLinkActive="active">检测</a>
  <a routerLink="/calculate" routerLinkActive="active">计算</a>
  <a routerLink="/sysManagement" routerLinkActive="active">管理</a>
</nav>
<router-outlet></router-outlet>