<div class="content">
    <div *ngIf="isLoading">
        <mat-spinner [diameter]="24"></mat-spinner>
        <p>加载数据... </p>
    </div>
    <div *ngIf="!isLoading">
        <div *ngIf="!selectedExpParameter">
            <h3>参数表</h3>
            <mat-table #table [dataSource]="expParameterList">
                <ng-container matColumnDef="tableName">
                    <mat-header-cell *matHeaderCellDef> 表名 </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button color="primary" (click)="select(element);" class="button_inside_table">{{element.tableName}} </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tableRegistrant">
                    <mat-header-cell *matHeaderCellDef> 登记人 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tableRegistrant}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tableRemark">
                    <mat-header-cell *matHeaderCellDef> 备注 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tableRemark}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="tableState">
                    <mat-header-cell *matHeaderCellDef> 状态 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tableState}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

        <div *ngIf="selectedExpParameter">
            <man-equip-para-preview [expParameter]="selectedExpParameter"></man-equip-para-preview>
            <button mat-raised-button color="primary" (click)="selectedExpParameter = !selectedExpParameter;">返回</button>
        </div>

    </div>
</div>