<div class="preview-content">
    <h3>模块{{model.model_name}}预览</h3>
    <mat-grid-list cols="10" rowHeight="25px">
        <div *ngFor="let cell_key of getKeys(model.table.cells)">
            <mat-grid-tile
                [colspan]="model.table.cells[cell_key].colspan"
                [rowspan]="model.table.cells[cell_key].rowspan">
                    {{model.table.cells[cell_key].name}} : 
                    {{model.table.cells[cell_key].value}}
            </mat-grid-tile>
        </div>
        <div *ngFor="let array_key of getKeys(model.arrays)">
            <div *ngFor="let array_cell of model.arrays[array_key].cell_list">
                <mat-grid-tile
                    [colspan]="array_cell.colspan"
                    [rowspan]="array_cell.rowspan">
                        {{array_cell.name}}
                </mat-grid-tile>
            </div>
        </div>
    </mat-grid-list>
</div>