<div>

  <h2>添加模块</h2>

  <form [formGroup]="modelForm" (ngSubmit)="onSubmit()" class="field-form" novalidate>
    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="modelForm.pristine" mat-raised-button>Save</button> &nbsp;
      <button type="reset" (click)="revert()" [disabled]="modelForm.pristine" mat-raised-button>Revert</button>
    </div>

    <mat-form-field class="model-half-width">
      <input formControlName = "model_name" matInput placeholder="模块名称">
    </mat-form-field>
    <!-- <mat-form-field class="model-half-width">
      <input formControlName = "description" matInput placeholder="模块描述">
    </mat-form-field> -->
    <h4>单元记录</h4>
    <div formGroupName = "tables_form">
      <div *ngFor = "let table of tables_form.controls; let i=index" [formGroupName]="i" >
        <h4>单元记录 #{{i + 1}}</h4>
        <button (click)="removeField(i)" type="button" mat-raised-button>删除</button>
        <div style="margin-left: 1em;">
            <mat-form-field class="model-quarter-width">
              <input formControlName="name" matInput placeholder="记录名">
            </mat-form-field>
            <mat-form-field class="model-quarter-width">
              <mat-select placeholder="数据来源" formControlName = "source">
                <mat-option *ngFor = "let s of source" [value]= "s">{{s}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="model-quarter-width">
                <input formControlName="value" matInput placeholder="数据值">
            </mat-form-field>
        </div>
      </div>
      <button (click)="addField()" type="button" mat-raised-button>添加记录</button>
    </div>
    <!-- <div formGroupName = "fields_form">
        <div *ngFor = "let field of fields_form.controls; let i=index" [formGroupName]="i" >
          <h4>单元记录 #{{i + 1}}</h4>
          <button (click)="removeField(i)" type="button" mat-raised-button>删除</button>
          <div style="margin-left: 1em;">
              <mat-form-field class="model-quarter-width">
                <input formControlName="name" matInput placeholder="记录名">
              </mat-form-field>
              <mat-form-field class="model-quarter-width">
                <mat-select placeholder="数据来源" formControlName = "source">
                  <mat-option *ngFor = "let s of source" [value]= "s">{{s}}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
        <button (click)="addField()" type="button" mat-raised-button>添加记录</button>
    </div> -->
    
  </form>
  <p>Form value: {{ modelForm.value | json }}</p>
  <p>Form status: {{ modelForm.status | json }}</p>
  <p>Name value: {{ modelForm.get('model_name').value }}</p>

</div>