<div class="inline-content">
        <h2>{{expParameterList[0]?.tableName}}</h2>
        <div class="example-container mat-elevation-z8">
            <div class="example-header">
                <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="搜索">
                </mat-form-field>
            </div>
    
            <mat-table #table [dataSource]="dataSource">
            
                <!-- Name Column -->
    
                <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> 名称 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
            
                <!-- Weight Column -->
    
                <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> 分子量 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                </ng-container>
            
                <!-- Symbol Column -->
    
                <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> 当量数 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
            </mat-table>
        </div>
        <!-- <div>{{expParameterList | json}}</div> -->
    </div>