<div class="inline-content">
    <h2>添加模版</h2>

<form [formGroup]="tempForm" (ngSubmit)="onSubmit()" class="field-form" novalidate>
    <mat-horizontal-stepper linear #stepper="matHorizontalStepper">
        <mat-step>
            <!-- <form [formGroup]="tempForm"> -->
                <ng-template matStepLabel>命名</ng-template>
                <mat-form-field class="model-half-width">
                    <input formControlName="whole_name" matInput placeholder="操作流程名称：">
                </mat-form-field>
                <!-- </form> -->
                <div>
                <button mat-button matStepperNext type="button">下一步</button>
            </div>
        </mat-step>
        <mat-step>
            <!-- <form [formGroup]="tempForm"> -->
                <ng-template matStepLabel>选择模版组成</ng-template>

                <!-- <div style="margin-bottom: 1em">
                    <button type="submit" [disabled]="tempForm.pristine" mat-raised-button>保存</button> &nbsp;
                    <button type="reset" (click)="revert()" [disabled]="tempForm.pristine" mat-raised-button>重置</button>
                </div> -->

                <h4>步骤</h4>
                <div formArrayName="model_list">
                    <div *ngFor="let list_item of modelListForm.controls; let i=index" class="model-full-width">
                        <mat-form-field class="field-quarter-width">
                            <mat-select  placeholder="选择模块" [formControlName]="i">
                                <mat-option *ngFor="let model_item of modelsData;" [value]="model_item.model_name"> 
                                    {{model_item.model_standard_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button (click)="deleteListItem(i)" type="button" mat-raised-button>删除</button>
                    </div> 
                    <button (click)="addListItem()" type="button" mat-raised-button>添加步骤</button>
                </div>
                <div>
                    <button mat-button matStepperPrevious type="button">上一步</button>
                    <button mat-button matStepperNext type="button" (click)="setModelsOfTemplate();">下一步</button>
                </div>
            <!-- </form> -->
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>编辑组成内容</ng-template>
            编辑组成模块
            <div>
                <button mat-button matStepperPrevious type="button">上一步</button>
                <button mat-button matStepperNext type="button">下一步</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>完成</ng-template>
            新建模块成功
            <div>
                <button mat-button matStepperPrevious type="button">上一步</button>
                <button type="submit" [disabled]="tempForm.pristine" mat-button>保存</button>
                <button mat-button (click)="stepper.reset()">重置</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</form>

    <p>Form value: {{ tempForm.value | json }}</p>

    <!-- <p>source_name:{{source_name | json}}</p> -->
    <!-- <p>Form status: {{ modelForm.status | json }}</p> -->
    <!-- <p>Name value: {{ modelForm.get('model_name').value }}</p> -->
</div>