<div class="content">

  <h2>添加模块</h2>
  <!-- 
    <div>
      <h1>Reactive Forms</h1>
      <label>Name:
          <input [formControl] = "name">
      </label>
    </div> 
  -->
  <!-- <form class="field-form" novalidate>
    <mat-form-field class="block-half-width">
        <input matInput placeholder="模块名称" >
    </mat-form-field>

  </form> -->
  <form [formGroup]="blockForm" (ngSubmit)="onSubmit()" class="field-form" novalidate>
    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="blockForm.pristine" mat-raised-button>Save</button> &nbsp;
      <button type="reset" (click)="revert()" [disabled]="blockForm.pristine" mat-raised-button>Revert</button>
    </div>

    <mat-form-field class="block-half-width">
      <input formControlName = "name" matInput placeholder="模块名称">
    </mat-form-field>
    <mat-form-field class="block-half-width">
      <input formControlName = "description" matInput placeholder="模块描述">
    </mat-form-field>
    <h4>记录</h4>
    <div formGroupName = "fields_form">
        <div *ngFor = "let field of fields_form.controls; let i=index" [formGroupName]="i" >
          <h4>记录 #{{i + 1}}</h4>
          <button (click)="removeField(i)" type="button" mat-raised-button>删除</button>
          <div style="margin-left: 1em;">
              <mat-form-field class="block-quarter-width">
                <input formControlName="name" matInput placeholder="记录名">
              </mat-form-field>
              <mat-form-field class="block-quarter-width">
                <mat-select placeholder="数据来源" formControlName = "source">
                  <mat-option *ngFor = "let s of source" [value]= "s">{{s}}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
        <button (click)="addField()" type="button" mat-raised-button>添加记录</button>
    </div>
    <!-- <div>
      <label>Name:
        <input formControlName = "name">
      </label>
    </div>
    <div>
      <label>Description:
        <input formControlName = "description">
      </label>
    </div>

    <h4>记录</h4>
    <div formGroupName = "fields_form">
      <div *ngFor = "let field of fields_form.controls; let i=index" [formGroupName]="i" >
        <h4>记录 #{{i + 1}}</h4>
        <div style="margin-left: 1em;">
          <div>
            <label>Field Name:
              <input formControlName="name">
            </label>
          </div>
          <div>
            <label>Source:
              <select formControlName = "source">
                <option *ngFor = "let s of source" [value]= "s">{{s}}</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <button (click)="addField()" type="button">Add Field</button>
    </div>
    -->

    <!-- <div>
      <label>
          <input type="checkbox" formControlName="sidekick">I have a sidekick.
      </label>
    </div> -->
  </form>
  <p>Form value: {{ blockForm.value | json }}</p>
  <p>Form status: {{ blockForm.status | json }}</p>
  <p>Name value: {{ blockForm.get('name').value }}</p>
  <!-- <p>index value: {{i}}</p>
  <p>i value: {{i}}</p>
  <p>s value: {{s}}</p>
  <p *ngIf = "i == 0">Field_Name value: {{ blockForm.get('fields_form[0]').value }}</p> -->
  <!-- Angular Material -->
  <!--
  <form>

      <mat-form-field class="block-half-width">
        <input matInput placeholder="模块说明" value="备注信息">
      </mat-form-field>

      
      <mat-form-field>
          <mat-select placeholder="字段数" [(ngModel)]="selectedValue" name="fn">
            <mat-option *ngFor="let fn of field_num" [value]="fn.value">
              {{ fn.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <p> selected: {{selectedValue}}</p>

      <br/>
      <div *ngFor="let num of field_num">
        <mat-form-field class="block-quarter-width">
          <input matInput placeholder="字段标题" value="新字段1">
        </mat-form-field>
      </div>
    

      <mat-form-field>
          <mat-select placeholder="数据来源">
            <mat-option *ngFor="let ds of data_source" [value]="ds.value">
              {{ ds.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
      <mat-checkbox>隐藏</mat-checkbox>
      <mat-checkbox>不确定度</mat-checkbox>
      <br/>
      <button mat-raised-button>添加</button>

        
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
  </form>
  -->
</div>