<div>
    <!-- <h2>添加模块</h2> -->
    <form [formGroup]="tempForm" (ngSubmit)="onSubmit()" class="field-form" novalidate>

        <div style="margin-bottom: 1em">
            <button type="submit" [disabled]="tempForm.pristine" mat-raised-button>保存</button> &nbsp;
            <button type="reset" (click)="revert()" [disabled]="tempForm.pristine" mat-raised-button>重置</button>
        </div>
        <!-- <span>Name: {{modelForm.get('model_standard_name').value|json}}</span>
        <span *ngIf="modelForm.get('has_table').value == -1">无列表</span>
        <span *ngIf="modelForm.get('has_array').value == -1">无数据表</span> -->
        <mat-form-field class="model-half-width">
            <input formControlName="whole_name" matInput placeholder="操作流程名称：">
        </mat-form-field>

        <!-- <hr> -->
        <h4>步骤</h4>
        <div formArrayName="model_list">
            <div *ngFor="let list_item of model_list.controls; let i=index" class="model-full-width">
                <mat-form-field class="field-quarter-width">
                    <mat-select  placeholder="选择模块" [formControlName]="i">
                        <!-- <mat-option *ngFor="let model_item of model_list_local;" [value]="model_item" (click)="getTableHeads(expPara);saveTableName(expPara);"> -->
                        <mat-option *ngFor="let model_item of model_list_local;" [value]="model_item"> 
                            {{model_item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="deleteListItem(i)" mat-raised-button>删除</button>
            </div> 
            <button (click)="addListItem()" mat-raised-button>添加步骤</button>
            <!-- <mat-accordion>
                <mat-expansion-panel *ngFor="let cell of cells_form.controls; let i=index" [formGroupName]="i" class="model-full-width">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            单元 #{{i + 1}}
                        </mat-panel-title>
                        <mat-panel-description>
                            单元内容
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field class="field-half-width">
                        <input formControlName="name" matInput placeholder="单元名">
                    </mat-form-field>

                    <mat-form-field class="field-half-width">
                        <mat-select placeholder="数据来源" [(value)]="sourceControl">
                            <mat-option *ngFor="let s of source;" [value]="s" (click)="patchSourceData(i,s)">{{s.source_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="sourceControl?.source_type==4">
                        <mat-form-field class="field-full-width">
                            <mat-select placeholder="参数表列表">
                                <mat-option *ngFor="let expPara of expParameterList;" [value]="expPara.tableName" (click)="getTableHeads(expPara);saveTableName(expPara);">
                                    表《{{expPara.tableName}}》 【备注：{{expPara.tableRemark}}】 【登记人：{{expPara.tableName}}】 【状态：{{expPara.tableState}}】
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="field-full-width">
                            <mat-select placeholder="参数表列">
                                <mat-option *ngFor="let col of Columns;let colId = index" [value]="col" (click)="addEquipParaToForm(i,col)">
                                    (列{{i}})【{{col}}】|行1：{{colDataArray[colId][0]}}| |行2：{{colDataArray[colId][1]}}| |行3：{{colDataArray[colId][2]}}|...
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <input formControlName="value" matInput placeholder="数据值">
                    </mat-form-field>
                    <button (click)="openDialog()" type="button" mat-raised-button>设置</button>
                    <button (click)="removeCell(i)" type="button" mat-raised-button>删除</button>
                </mat-expansion-panel>

            </mat-accordion>
            <button (click)="addCell()" type="button" mat-raised-button>添加记录</button> -->
        </div>
    </form>

    <!-- <p>Form value: {{ tempForm.value | json }}</p> -->

    <!-- <p>source_name:{{source_name | json}}</p> -->
    <!-- <p>Form status: {{ modelForm.status | json }}</p> -->
    <!-- <p>Name value: {{ modelForm.get('model_name').value }}</p> -->
</div>