<mat-toolbar class="toolbar">
    <p class="toolbar_font">系统管理</p>
</mat-toolbar>

<!-- <nav>
    <a routerLink="./man-equip-para" routerLinkActive="active">man-equip-para</a>
    <a routerLink="./mb" routerLinkActive="active">man-block</a>
</nav> -->
<nav>
    <a routerLink="./manEquip" routerLinkActive="active">实验器材参数</a>
    <a routerLink="./manBlock" routerLinkActive="active">检测标准模块</a>
    <a routerLink="./manTemplate" routerLinkActive="active">原始记录模板</a>
    <a routerLink="./manJobModule" routerLinkActive="active">作业指导模块</a>
</nav>
<router-outlet></router-outlet>