/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

body {
    margin: 0;
    /* font-family: 'Tangerine', serif;
    font-size: 36px; */
}
/* man-block {
    padding: 20px 50px 50px 20px;
} */
.content {
    padding: 20px;
}
app-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}
  /* body {
    font-family: 'Tangerine', serif;
    font-size: 24px;
  } */

  /* button{
    color:white;
  } */