@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "./app/css/sidebar-and-toolbar.css"; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

body {
    margin: 0;
    background-color: #fafafa;
    /* font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif; */
    /* font-family: 'Tangerine', serif;
    font-size: 36px; */
}
/* man-model {
    padding: 20px 50px 50px 20px;
} */
.content {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: 0 16px;
}
.inline-content {
    width: 85%;
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    /* overflow: auto */
}
/* man-equip-para {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
} */
app-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav {
    padding: 5px 30px;
}
mat-spinner {
    /* float: left; */
}
sys-management,registration,analysis,calculate,preview {
    flex: 1;
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
figure {
    justify-content: unset!important;
}
  /* body {
    font-family: 'Tangerine', serif;
    font-size: 24px;
  } */

  /* button{
    color:white;
  } */

mat-icon {
    display: inline-block;
    vertical-align: middle;
}

.loading {
    position: absolute;
    z-index: 999;
    /* margin: 0 auto; */
    left: 50%;
    /* right: 0%; */
    top: 50%;
    /* bottom: 0; */
    transform: translate(-50%,-50%);
    /* width: 200px; */
    /* height: 200px; */
    /* width: 500; */
}

input {
    border: 0px;
    width: inherit;
    min-width: 50px;
    margin: 2px;
    background-color: #fafafa;
    /* max-width: 0; */
}