<h1 mat-dialog-title>选择日期</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" #dateInput placeholder="输入/选择日期" (value)="dateValue">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p>value:{{dateInput.value}}</p>    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">返回</button>
  <button mat-button [mat-dialog-close]='data.dateOfDialog' (click)="onClick(dateInput.value)" cdkFocusInitial>确认</button>
</div>